<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Sensorlogger log processor</title>

</head>

<body>
    <h2>Process a sensorlogger JSON export</h2>

    <form action="/sensorlogger" method="post" enctype="multipart/form-data">
        Output format:<br>
        <input type="radio" name="destfmt"  value="canonical" checked> sanitized JSON<br>
        <input type="radio" name="destfmt"  value="plotjuggler"> JSON for plotJuggler <br>
        <input type="radio" name="destfmt"  value="teleplot"> JSON Teleplot recording<br>
        <input type="radio" name="destfmt"  value="geojson"> GeoJSON<br>
        <input type="radio" name="destfmt"  value="gpx"> GPX<br>
        <input type="radio" name="destfmt"  value="influxdbv2"> InfluxDBv2 import file<br>
        <br>
        Timestamps (absolute time only):
        <br>
        <input type="radio" name="timestamp" value="linux_timestamp_float" checked> convert time to Unix epoch (float)<br>
        <input type="radio" name="timestamp" value="linux_timestamp" > convert time to Unix epoch (int, 1s resolution)<br>
        <input type="radio" name="timestamp" value="iso8061"> convert time to ISO8601 strings<br>
        <input type="radio" name="timestamp" value="untouched"> leave untouched<br>
        <br>
        Conversion options:<br>
        <input type="checkbox" name="options" value="decode_ble" checked> decode BLE beacon reports<br>
        <input type="checkbox" name="options" value="drop_metadata" checked> drop sensorlogger metadata<br>
        <input type="checkbox" name="options" value="flatten_json" checked> flatten JSON <br>
        <input type="checkbox" name="options" value="strings_to_numeric" checked> convert strings to numeric<br>
        <input type="checkbox" name="options" value="fix_keys" checked> fix key syntax<br>
        <input type="checkbox" name="options" value="drop_useless" checked> drop useless data<br>
        <input type="checkbox" name="options" value="prettyprint" checked> Prettyprint JSON<br>
        <input type="checkbox" name="options" value="gzip"> gzip the result<br>

        <br>
        <input type="file" name="files">
        <input type="submit" value="Decode">
    </form>
</body>
</html>