[Unit]
Description=sensorlogger online BLE decoder backend

[Service]

#	--log-level debug
ExecStart=/home/sensorlogger/sensorlogger-utils/.venv/bin/gunicorn \
	--log-syslog \
 	--worker-class gevent \
	--workers 1 --threads 100 \
	--bind 127.0.0.1:5000 wsgi:app


# gunicorn --bind 127.0.0.1:5000 wsgi:app

WorkingDirectory=/home/sensorlogger/sensorlogger-utils/online-decoder
User=sensorlogger
Group=sensorlogger

Restart=always

[Install]
WantedBy=multi-user.target