<!DOCTYPE html>
<html>

<head>
    <title>Sensorlogger QRcode</title>
</head>

<body>
    <h2>Scan this code with your mobile, import into Sensor Logger and start recording <br>
    </h2>
    <h2>then click {{ tracker }}<br>
    </h2>
    <br>
    <img src="{{ qrcode(config, back_color='white', fill_color='red') }}">

    <br>
    <div id="status">
    </div>
    <script>

        var time = 3000;
        setTimeout(function () {
            document.getElementById("status").innerHTML = "<h2>waiting for Sensorlogger ..</h2>";

            // open in same window
            // window.location = "http://172.16.0.212:5010/tp";
            // opens new window
            // window.open("http://172.16.0.212:5010/tp")
        }, time);
    </script>
</body>

</html>