<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Sensor Logger Live Plot</title>

</head>

<body>
    <h2>Sensor Logger Live Plot</h2>
    <form action="/plot" method="post" enctype="multipart/form-data">

        <table>
            <tr>
                <th>Sensor</th>
                <th>Rate</th>
            </tr>
            <tr>
                <td> <input type="checkbox" name="sensors" value="Location" checked> Location
                </td>
                <td> <select name="locationRate" id="locationRate">
                        <option value="1000">1000mS</option>
                        <option value="100">100mS</option>
                    </select></td>
            </tr>
            <tr>
                <td> <input type="checkbox" name="sensors" value="Accelerometer" checked> Accelerometer <br>
                    <input type="checkbox" name="sensors" value="Gravity" checked> Gravity <br>
                    <input type="checkbox" name="sensors" value="Gyroscope" checked> Gyroscope <br>
                    <input type="checkbox" name="sensors" value="Orientation" checked> Orientation <br>
                    <input type="checkbox" name="sensors" value="Magnetometer" checked> Magnetometer <br>
                    <input type="checkbox" name="sensors" value="Microphone" checked> Microphone <br>
                    <input type="checkbox" name="sensors" value="Battery" checked> Battery <br>
                    <input type="checkbox" name="sensors" value="Brightness" checked> Brightness <br>
                    <input type="checkbox" name="sensors" value="Pedometer" checked> Pedometer <br>

                </td>
                <td> <select name="accelRate" id="accelRate">
                        <option value="1000">1000mS</option>
                        <option value="100">100mS</option>
                    </select></td>
            </tr>
            <tr>
                <td> <input type="checkbox" name="sensors" value="Barometer" checked> Barometer
                </td>
                <td> <select name="baroRate" id="baroRate">
                        <option value="1000">1000mS</option>
                        <option value="100">100mS</option>
                    </select></td>
            </tr>
            <tr>
                <td> HTTP batch period
                </td>
                <td> <select name="batchPeriod" id="batchPeriod">
                        <option value="1000">1s</option>
                        <option value="5000">5s</option>
                        <option value="200">200ms</option>
                        <option value="100">100ms</option>
                    </select></td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="Uncalibrated" value="Uncalibrated"> uncalibrated values <br>
                </td>
            </tr>



        </table>


        <br> <input type="submit" value="Generate QRcode">
    </form>
</body>

</html>